.links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  width: 400px;
}

.link-card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}


.link-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.github {
  background: linear-gradient(235deg, #FFB223 0%, #ca8f23 57%, #A96801 100%);
  border: 2px solid #FDC763;
}

.leetcode {
  background: linear-gradient(235deg, #57c478 0%, #2d7d41 57%, #2b6323 100%);
  border: 2px solid #51ae83;
}


.github-icon,
.leetcode-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 60px;
  width: auto;
}


.links-text {
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
  line-height: 1.2; 
  position: relative;
  top:1.5rem;
  left: 1rem;
}


#main-text{
  text-align: left;
  position: relative;
  top: 35px;
}
#sub-text{
  color: rgb(255, 255, 255,0.8);
  position: relative;
  text-align: left;
}