.projects-section h2 {
    font-size: 3rem;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .projects-list {
    display: grid;
    gap: 2rem;
    position: relative;
    top: 45px;
  }
  
  .project-card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #2a2a2a;
    border-radius: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;

    color:white;
    text-decoration: none;
  }
  
  .project-card:hover {
    transform: translateX(10px);
  }
  
  .project-card img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .project-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .project-info p {
    margin: 0.5rem 0 0;
    color: #999;
  }
  
  .arrow-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover .arrow-icon {
    opacity: 1;
  }